body{
    font-family: 'Roboto', sans-serif;
}

.container-fluid{
    min-height: 100vh;
    background: #FF9800;

}

.d-flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputContainer{
    min-height: 100vh;


}

.bg-white-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#resultContainer{
    font-size: 1.5em;
    font-weight: 700;

}

#resultContainer p{
    margin: 0;
    padding: 0;
}

#counter{
    font-size: 1.2em;
    font-weight: 700;
    color: white;
}
.counter-text{
    font-size: 1.2em;
    font-weight: 700;
    color: white;
}

#tryAgainButton, #newGameButton{
    margin: 1em;
}